body {
    margin: 0 auto ;
    width: 70%;
    overflow:auto;
}
#header,#content,#footer{
    margin: 1%;

}
#footer{
    margin-left:5%;
    margin-right:5%;
}
#menu{
    font-size: 20px;
    padding: 0.5em 0;
    text-align:center;

}
#footer{
    padding: 5px 75px;
    margin-top: 10%;
    border-style: solid;
    border-width: 1px;
    border-right-color: #ffffff;
    border-left-color: #ffffff;
}
#contacts{
    text-align: center;
    padding: 5px 75px;
    
    border-style: solid;
    border-width: 1px;
    border-right-color: #ffffff;
    border-left-color: #ffffff;
}
#content{
    margin-top:5%;

}
.mProject{
    float:left;
    width:40%;
    margin:5px;
}
.mPoster{
    float:left;
    width:50%;
    margin:5px;
}
 
#footer li{
    text-align:center;
    padding: 0.2em 0;
}
#mResume{
    text-align:center;
}

p{
    font-family: Arial;
    margin: 1%;
}
ul{
    margin: 0;
    padding: 0;

}
li { 

    display: inline;
    padding: 0.9em;

}
a{
    text-decoration:none;

}

